body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}
.row{
  padding: 0;
  margin: 0 !important;
}

.p-0{
  padding: 0;
}

.form-select{
  font-size: 14px !important;
  &:focus{
    box-shadow: none !important;
  }
}
.d-flex{
  align-items: center;
}
.filter{
  background-color: white;
  padding: 5px;
  box-shadow: 0px -2px 3px 1px #7e7e7e;
  border: 1px solid #ced4da;
  border-left: none;
  border-right: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  .filter-item{
    padding: 4px;
    .form-select{
      width: 100%;
    }
  }
}

.align-center{
  align-items: center;
}
.content{
  background: #f5f6fa;
  padding: 20px 0;
  margin-top: 55px;
  .head-content{
    .item{
      padding: 20px 0;
    }
  }
  .list-hotel{
    .item-hotel{
      background: white;
      border-radius: 3px;
      margin-bottom: 10px !important;
      transition: 0.4s;
      border: 1px solid white;
      align-items: flex-start;
      .image {
        position: relative;
        padding: 45% 0;
        img{
          width: 100%;
          border-radius: 15px;
          padding: 10px;
        }
      }
      .desc{
        padding:20px 10px;
        position: relative;
        .title{
          font-size: 20px;
          margin-bottom: 5px;
        }
        .rating-star{
          margin-right: 20px;
          .star{
            color: #fec800;
            font-size: 20px;
          }
        }
        .address{
          text-decoration: underline;
          font-size: 12px;
        }
        .rating-value{
          background-color: #0064d2;
          border-radius: 0 4px 4px 4px;
          color: white;
          display: inline-block;
          padding: 0 5px;
          margin-right: 10px;
        }
        .rating-value-text{
          color:  #0064d2;
        }
        .fasilitas{
          .item{
            width: 120px;
            margin-right: 5px;
            .text{
              text-overflow: ellipsis;
              overflow: hidden;
              width: 100%;
              white-space: nowrap;
              display: inline-block;
              color: #00a478;
            }
            span{
              font-size: 20px;
              color: black;
            }
          }
        }
        .price{
          position: absolute;
          bottom: 10px;
          right: 10px;
          text-align: right;
          .best{
            background: #f15c59;
            color: white;
            font-weight: bold;
            padding: 4px 8px;
            display: inline-block;
            border-radius: 4px 4px 0 4px;
            position: relative;
            margin-bottom: 5px;
            &::after{
              content: "";
              display: inline-block;
              width: 10px;
              height: 10px;
              clip-path: polygon(0% 0%, 10% 0%, 90% 100%, 90% 0%);
              background: #f15c59;
              position: absolute;
              bottom: -7px;
              right: 0px;
            }
          }
          .ori-price{
            color: #8a93a7;
            text-decoration: line-through;
            font-size: 16px;
          }
          .total-price{
            color: #f15c59;
            span{
              font-size: 20px;
            }
          }
          .room{
            color: #8a93a7;
          }
        }
      }
      &:hover{
        border: 1px solid #ddd;
      }
    }
  }
}